.HowToPlayContainer {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #d6ffce;
    border-radius: 10px;
    padding-top: 0.1px
  }
  
  .HowToPlayParagraph {
    margin-bottom: 0px;
  }
  