
.leaderboard {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 202, 211);
    margin: 0 auto; 
    width: 50vw;
    /* padding: 10px; */
  }

  #leaderboards-text {
    margin: 0 auto; 
    margin-top: 10px;
  }

  
  .player {
    display: flex;
    margin-bottom: 10px;
    /* background-color: lightcoral; */
  }
  
  .profile-picture {
    width:75px;
    height: 75px;
    border-radius: 10px;
    margin: 10px;
    margin-right: 0px;
    border-color: darkslateblue;
  }
  
  .player-details {
    display: flex;
    flex-direction: column;
    padding: 10px;

  }
  
  .name {
    font-weight: bold;
  }
  
  .player-stats {
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;

  }
  
  .money {
    font-weight: bold;
    margin-left: auto;
  }
  
  .contribution {
    margin-top: 5px;
  }
