@font-face {
  font-family: 'Bloomberg-8MKKZ';
  src: url('./Bloomberg-8MKKZ.otf') format('opentype');
}

body {
  font-family: 'Bloomberg', sans-serif;
  font-size: 20px;
  /* background-color: darkslateblue;
    color: white; */
  background-color: darkslateblue;
}

.game-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.user-controls {
  display: flex;
  flex-direction: column;
  background-color: rgb(166, 220, 253);
  /* Center horizontally within its container */
  margin: 0 auto;
  width: 50vw;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  /* Center vertically */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  min-height: 100px;
}

.image-container img {
  width: 100%;
  height: auto;
}

input[type="text"],
input[type="password"],
input[type="number"],
button {
  font-family: inherit;
  font-size: 18px;
  height: 44px;
  border-radius: 6px;
  outline: 0;
  margin: 10px
}

input[type="password"],
input[type="number"],
input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 2px solid #222034;
  width: 250px;
  text-transform: uppercase;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 3px solid #1e830b;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
}

h1 {
  color: azure;
}

img {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(211, 232, 232);
}

#game-status {
  margin-left: 10px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 10px;
}

.user-controls.full-width,
.game-container.full-width,
.leaderboard.full-width {
  width: 98vw;
  flex-wrap: wrap;
}

.game-container.full-width {
  flex-direction: row-reverse;
}

.user-controls.full-width {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
}

.leaderboard.full-width {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

.fade-in {
  animation: fadeInAnimation 1s ease-in forwards;
}

.fade-out {
  animation: fadeOutAnimation 1s ease-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
