@font-face {
    font-family: 'Bloomberg-8MKKZ';
    src: url('./Bloomberg-8MKKZ.otf') format('opentype');

}

body {
    font-family: 'Bloomberg', sans-serif;
    font-size: 20px;
    /* background-color: darkslateblue;
    color: white; */
}

.game-container {
  display: flex;
  flex-direction: row;
}

.user-controls {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  margin: 0 auto; /* Center horizontally within its container */
  width: 50vw;
  align-items: center;
  justify-content: center; /* Center vertically */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}